<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Twitter Follower</title>
</head>

<body>
@if(Session::has('access_token'))
    @php
        $token = session::get('access_token');
        $screen_name = $token['screen_name'];
        echo '<h3>Twitter Follower (@'.$screen_name.')</h3>';
    @endphp
@else
    <h3>Follower</h3>
@endif

@if(!empty($users))
    <table>
        <thead>
        <tr>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        @foreach($users as $follower)
            <tr>
                <td>{{$follower}}</td>
            </tr>
        @endforeach
        </tbody>
    </table>
@else
    <p>We are having a problem with our Twitter Feed right now / No Tweets</p>
@endif

</body>
</html>